// Icons

/* icons */
[class*='icon-'] {
	width: 24px;
	height: 24px;
}

// Start Side navigation icons
.icon-control-center 		{ fill: $true-white; }
.icon-invoicing		 		{ fill: $true-white; }
.icon-legal-entity		 	{ fill: $true-white; }
.icon-orders 				{ fill: $true-white; }
.icon-pricing 				{ fill: $true-white; }

// Warning, success, alert icons
.icon-accepted-ok 			{ fill: $bright-green; }
.icon-error 				{ fill: $true-red; }
.icon-warning-repeat 		{ fill: $bright-orange; }
.icon-warning-repeat-sign 	{ fill: $true-white; }
.icon-warning-red 			{ fill: $true-red; }
.icon-warning-orange 		{ fill: $bright-orange; }
.icon-warning-mark 			{ fill: $true-white; }

// Time reference icons 
.icon-calendar 				{ fill: $bright-blue; }
.icon-clock 				{ fill: $bright-blue; }

// Checkboxes and radio buttons
.icon-checkbox-active 		{ fill: $bright-blue; }
.icon-checkbox-hover 		{ fill: $bright-blue; }
.icon-checkbox-static   	{ fill: $disabled-grey; }
.icon-radio-active 			{ fill: $bright-blue; }
.icon-radio-active-circle 	{ fill: $medium-grey; }
.icon-radio-active-dot 		{ fill: $bright-blue; }
.icon-radio-hover 			{ fill: $bright-blue; }
.icon-radio-static 			{ fill: $disabled-grey; }

// Close icon
.icon-close-black 			{ fill: $dark-grey; }
.icon-close-blue 			{ fill: $bright-blue; }
.icon-close-silver 			{ fill: $medium-grey; }

// Collapse icon
//.icon-plus-basic			{ fill: $bright-blue; }
//.icon-minus-basic			{ fill: $bright-blue; }
.icon-collapse-static 		{ fill: $medium-grey; }
.icon-collapse-hover 		{ fill: $bright-blue; }
.icon-expand-silver 		{ fill: $medium-grey; }
.icon-expand-blue 			{ fill: $bright-blue; }
.icon-expand-black 			{ fill: $dark-grey; }

// Map pin icons
.icon-map-location			{ fill: $bright-blue; }
.icon-map-delivery-point	{ fill: $bright-green; }

// Double arrows
.icon-down-double-silver 	{ fill: $medium-grey; }
.icon-down-double-blue 		{ fill: $bright-blue; }
.icon-down-double-black 	{ fill: $dark-grey; }
.icon-up-double-silver 		{ fill: $medium-grey; }
.icon-up-double-blue 		{ fill: $bright-blue; }
.icon-up-double-black 		{ fill: $dark-grey; }
.icon-left-double-silver 	{ fill: $medium-grey; }
.icon-left-double-blue 		{ fill: $bright-blue; }
.icon-left-double-black 	{ fill: $dark-grey; }
.icon-right-double-silver 	{ fill: $medium-grey; }
.icon-right-double-blue 	{ fill: $bright-blue;}
.icon-right-double-black 	{ fill: $dark-grey; }

// Single arrows
.icon-up-single-silver 		{ fill: $medium-grey; }
.icon-up-single-blue 		{ fill: $bright-blue; }
.icon-up-single-black 		{ fill: $dark-grey; }
.icon-down-single-silver 	{ fill: $medium-grey; }
.icon-down-single-blue 		{ fill: $bright-blue; }
.icon-down-single-black 	{ fill: $dark-grey; }
.icon-left-single-silver 	{ fill: $medium-grey; }
.icon-left-single-blue 		{ fill: $bright-blue; }
.icon-left-single-black 	{ fill: $dark-grey; }

// Download or extract icon
.icon-export-silver 		{ fill: $medium-grey; }
.icon-export-blue 			{ fill: $bright-blue; }
.icon-export-black 			{ fill: $dark-grey; }

// Search icon
.icon-magnifier-glass 		{ fill: $bright-blue; }

// Rounded icons
.icon-down-rounded-full 	{ fill: $bright-blue; }
.icon-down-rounded 			{ fill: $bright-blue; }
.icon-left-rounded-full 	{ fill: $bright-blue; }
.icon-left-rounded 			{ fill: $bright-blue; }
.icon-up-rounded-full 		{ fill: $bright-blue; }
.icon-up-rounded 			{ fill: $bright-blue; }
.icon-minus-full 			{ fill: $bright-blue; }
.icon-minus-round 			{ fill: $bright-blue; }
.icon-plus-full 			{ fill: $bright-blue; }
.icon-plus 			 		{ fill: $bright-blue; }

// Repeat, reset, refresh icons
.icon-repeat-silver 		{ fill: $medium-grey; }
.icon-repeat-blue 			{ fill: $bright-blue; }
.icon-repeat-black 			{ fill: $dark-grey; }

// Favourite icon
.icon-favourite 			{ fill: $medium-grey; }
.icon-favourite-active 		{ fill: $bright-orange; }

// Erase, delete icon
.icon-trash-silver 			{ fill: $medium-grey; }
.icon-trash-blue 			{ fill: $bright-blue; }







