<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Alerts</title>

	</head>

	<body>
	<svg style="display: none;">
		<defs>
			<symbol id="icon-close" viewBox="0 0 12 12">
  				<title>close</title>
  				<path class="icon-close" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z" transform="translate(0 0)"/>
  			</symbol>
		</defs>	
	</svg>

	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a class="active" href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Alerts</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-8">
						<div class="paragraph-group">
							<p>Bar alerts are reserved for higher level actions being completed, or errors that need the users immediate attention.</p>
							<div class="spacer-16"></div>
							<p>Use these when an error or success is happening in an area that the user currently is not in (IE if they are placing an order for one location, they may wish to be notified if a different location of theirs had a new invoice payment processed).</p>
							<div class="spacer-16"></div>
							<p>Be careful to use these within the parameters of the user’s permissions for what they can and cannot view.</p>
							<div class="spacer-16"></div>
						</div>
						
						<div class="rules-box">
							<span class="roboto-medium">Rules:</span>
							<p>
							1. Use very sparingly, and for high level actions<br /> 
							2. Do not use for form submission or form errors - these errors should all be dealt with in the form itself
							</p>
						</div>
						<div class="spacer-32"></div>
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="alert-bar cmx-red">
							<p>Order number 9213827389 was placed for this jobsite. <a href="#">Go to your orders</a>.</p>
							<span class="close">
								<svg class="icon-close-black">
		  							<use xlink:href="#icon-close"></use>
		  						</svg>
							</span>
						</div>

						<div class="spacer-32"></div>

						<div class="alert-bar cmx-orange">
							<p>Order number 9213827389 was placed for this jobsite. <a href="#">Go to your orders</a>.</p>
							<span class="close">
								<svg class="icon-close-black">
		  							<use xlink:href="#icon-close"></use>
		  						</svg>
							</span>
						</div>

						<div class="spacer-32"></div>

						<div class="alert-bar cmx-blue">
							<p>Order number 9213827389 was placed for this jobsite. <a href="#">Go to your orders</a>.</p>
							<span class="close">
								<svg class="icon-close-black">
		  							<use xlink:href="#icon-close"></use>
		  						</svg>
							</span>
						</div>

						<div class="spacer-32"></div>

						<div class="alert-bar cmx-green">
							<p>Order number 9213827389 was placed for this jobsite. <a href="#">Go to your orders</a>.</p>
							<span class="close">
								<svg class="icon-close-black">
		  							<use xlink:href="#icon-close"></use>
		  						</svg>
							</span>
						</div>

					</div>
					<!-- end .col-md-12 -->
				</div>
				<!-- end .row -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end .page-wrapper --> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>