<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Buttons</title>
	</head>

	<body>
	<svg style="display:none;">
		<defs>
			<symbol id="icon-plus-basic" viewBox="0 0 10 10">
	          <title>icon-plus-basic</title>
	          <path class="icon-plus-basic" d="M5.49,5.49h4a.49.49,0,1,0,0-1h-4v-4a.49.49,0,1,0-1,0v4h-4a.49.49,0,1,0,0,1h4v4a.49.49,0,1,0,1,0Z"/>
	        </symbol>
		</defs>
	</svg>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a class="active" href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Buttons</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-9">
						<div class="paragraph-group">
							<p>Buttons should always be actions, and the language should be clear and concise.</p>
							<p>Buttons can contain simplistic iconography (an arrow to signify continuing in a process, a plus sign to signify adding) but nothing more complex. </p>
							<div class="spacer-16"></div>
							<p>Primary actions that move the user forward in a process should always be styled with the filled in button, while exiting, cancelling, or unprioritized actions should be outlined.</p>
							<div class="spacer-16"></div>
							<p>Buttons should remain disabled until the user has completed any required actions to move onto the next step. </p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9">
						<h3>Buttons Sizes</h3>
						<p>Button height and text size stays consistent across all buttons. </p>
						<p>The height is a fixed height of 32px.</p>
						<p>The font size is always Roboto Bold 16, with a line-height of 16.</p>
						<p>Buttons have a minumum width of 85px and a maximum width of 280px.</p>

						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button" href="#">Day</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">SMALL BUTTON</p>
									<p>Font-Family: Roboto Bold </p>
									<p>Font-Size:16</p> 
									<p> Text-Transform: Uppercase</p>
									<p>Line Height: 16</p>

									<div class="spacer-16"></div>
									
									<p class="roboto-bold">PADDING</p>
									<p>8px (Top + Bottom)</p>
					
									<div class="spacer-16"></div>	
									
									<p class="roboto-bold">RECTANGLE RADIUS</p>
									<p>2</p>
					
									<div class="spacer-16"></div>

									<p class="roboto-bold">MINIMUM WIDTH</p>
									<p>85px</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button" href="#"><span>&nbsp;</span>Add a location</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">MEDIUM BUTTON</p>
									<p>Font-Family: Roboto Bold </p>
									<p>Font-Size:16</p> 
									<p> Text-Transform: Uppercase</p>
									<p>Line Height: 16</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">PADDING</p>
									<p>8px (Top + Bottom)</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">RECTANGLE RADIUS</p>
									<p>2</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">WIDTH</p>
									<p>AUTO</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button" href="#"><span>&nbsp;</span>Add another time request</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">LARGE BUTTON</p>
									<p>Font-Family: Roboto Bold </p>
									<p>Font-Size:16</p> 
									<p> Text-Transform: Uppercase</p>
									<p>Line Height: 16</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">PADDING</p>
									<p>8px (Top + Bottom)</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">RECTANGLE RADIUS</p>
									<p>2</p>

									<div class="spacer-16"></div>

									<p class="roboto-bold">MAXIMUM WIDTH</p>
									<p>280px</p>
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>

						<h3>Filled Button States</h3>
						<p>Active, Hover + Click States for Filled Buttons</p>
						
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">STATIC</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#3FA9F5</p> 
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button hover" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">HOVER</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#3FA9F5</p>

									<div class="spacer-16"></div>
									<p>Drop-Shadow : #000000, 10% Opacity Y- 2, Blur - 4 </p> 
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button active" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">ON CLICK</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#2684C7</p> 
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-48"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button bright-green" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">STATIC</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#3FA9F5</p> 
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button hover bright-green" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">HOVER</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#3FA9F5</p>

									<div class="spacer-16"></div>
									<p>Drop-Shadow : #000000, 10% Opacity Y- 2, Blur - 4 </p> 
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button active bright-green" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">ON CLICK</p>

									<div class="spacer-16"></div>
									
									<p>Background Color</p>
									<p>#2684C7</p> 
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>

						<h3>Outline Button States</h3>
						<p>Active, Hover + Click States for Outlined Buttons </p>
						
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button-ghost" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">STATIC - ACTIVE</p>

									<div class="spacer-16"></div>
									
									<p>Border Color: #3FA9F5</p>
									<p>Font Color: #3FA9F5</p>
									<p>Border: 1px</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-ghost hover" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">HOVER</p>

									<div class="spacer-16"></div>
									
									<p> Border Color: #3FA9F5</p>
									<p>Font Color: #3FA9F5  </p>
									<p>Drop-Shadow #000000, 10% Opacity Y- 2, Blur - 4 </p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-ghost active" href="#">Export</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">ACTIVE</p>

									<div class="spacer-16"></div>
									
									<p>Border Color: #2684C7</p>
									<p>Font Color: #2684C7</p>
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-48"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button-ghost bright-green" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">STATIC - ACTIVE</p>

									<div class="spacer-16"></div>
									
									<p>Border Color: #7AC943</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-ghost bright-green hover" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">HOVER</p>

									<div class="spacer-16"></div>
									
									<p> Border Color: #7AC943</p>
									<p>Font-Color: #7AC943</p>
									<p>Drop-Shadow : #000000, 10% Opacity Y- 2, Blur - 4  </p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-ghost bright-green active" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">ACTIVE</p>

									<div class="spacer-16"></div>
									
									<p>Border Color: #66B330</p>
									<p>Font Color: #66B330</p>
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>
						<h3>Disabled Buttons</h3>
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button disabled" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">DISABLED</p>

									<div class="spacer-16"></div>
									
									<p>Background Color: #D6D6D6</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-ghost disabled" href="#">Pay</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p class="roboto-bold">DISABLED GHOST</p>

									<div class="spacer-16"></div>
									
									<p> Background Color: NONE</p>
									<p>Font Color: #D6D6D6</p>
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>
						<h3>Buttons with icons</h3>
						<p>The only time to use a button with an icon is when adding a new line of information to a form.</p>
						<p>This includes: adding a new product, adding a new time. </p>
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button" href="#">
									<span class="btn-icon">
										<svg class="icon-plus-basic">
								        	<use xlink:href="#icon-plus-basic"></use>
								        </svg>
									</span>
									Add another time request
								</a>
								
								<div class="spacer-16"></div>

								<a class="button bright-green" href="#">
									<span class="btn-icon">
										<svg class="icon-plus-basic">
								        	<use xlink:href="#icon-plus-basic"></use>
								        </svg>
									</span>
									Add another time request
								</a>

								<div class="spacer-16"></div>

								<a class="button-ghost" href="#">
									<span class="btn-icon">
										<svg class="icon-plus-basic">
								        	<use xlink:href="#icon-plus-basic"></use>
								        </svg>
									</span>
									Add another time request
								</a>

								<div class="spacer-16"></div>

								<a class="button-ghost bright-green" href="#">
									<span class="btn-icon">
										<svg class="icon-plus-basic">
								        	<use xlink:href="#icon-plus-basic"></use>
								        </svg>
									</span>
									Add another time request
								</a>
								
								<div class="spacer-32"></div>

								<div class="h-delimiter"></div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>
						<h3>Text Buttons</h3>
						<p>Button height and text size stays consistent across all buttons. </p>
						<p>The height is a fixed height of 32px.</p>
						<p>The font size is always Roboto Bold 16, with a line-height of 16.</p>
						<p>Buttons have a minumum width of 85px and a maximum width of 280px.    </p>
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-md-4">
								<a class="button-link button-link-small" href="#">Pay</a>
								<br />
								<a class="button-link button-link-small" href="#">Manage</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p>Font-Family: Roboto Medium</p>
									<p>Font-Size:12 </p>
									<p>Text-Transform: Uppercase</p>
									<p>Line Height: 16</p>
									<p>Font-Color: #3FA9F5</p>
								</div>
							</div>
							<!-- end .col-md-4 -->

							<div class="col-md-4">
								<a class="button-link button-link-medium" href="#">Pay</a>
								<br />
								<a class="button-link button-link-medium" href="#">Manage</a>
								<div class="spacer-16"></div>
								<div class="h-delimiter"></div>
								<div class="rules-box">
									<p>Font-Family: Roboto Medium</p>
									<p>Font-Size:18</p>
									<p>Text-Transform: Uppercase</p>
									<p>Line Height: 24</p>
									<p>Font-Color: #3FA9F5</p>
								</div>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>
						<h3>Slide Buttons</h3>
						<div class="spacer-32"></div>
							
						<div class="row">
							<div class="col-md-4">
								<label class="switch-light switch-candy" onclick="">
								  <input type="checkbox">
								  <span>
								    <span>Calendar View</span>
								    <span>List View</span>
								    <a></a>
								  </span>
								</label>
							</div>
							<!-- end .col-md-4 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .col-md-9 -->
				</div>
				<!-- end .row -->
			</div>
			<!-- end .container-fluid -->
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>