<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Colors</title>
	</head>

	<body>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a class="active" href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Colors</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-9">
						<div class="paragraph-group">
							<p>Representative of the palette established in Flugee, the CEMEX Design Language, application experiences have a primary palette of blues, using CEMEX red as an accent.</p>
							<p>Incorprating an element of freshness, also established in Flugee, vibrant colors are used sparingly throughout.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9">
						<div class="h-delimiter"></div>

						<h2 class="h3-role">Primary</h2>
						<p>The majority of the color palette lies in shades of blue + grey.</p>
						<div class="spacer-32"></div>
						<div class="row">
							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box background-grey"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#F4F6F9</p>
									<p>Background Grey</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box true-blue"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#003876</p>
									<p>True Blue</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box medium-blue"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#002A59</p>
									<p>Medium Blue</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box true-white"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#FFFFFF</p>
									<p>True White</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box dark-grey"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#333333</p>
									<p>Dark Grey</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box demo-border-box medium-grey"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#666666</p>
									<p>Medium Grey</p>
								</div>
							</div>
						</div>
						<!-- end .row -->
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-9">
						<div class="h-delimiter"></div>

						<h2 class="h3-role">Highlight and status</h2>
						<p>Highlight colors are used to show items that are actionable or need attention.</p>
						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-sm-2">
								<div class="demo-color-box true-red">
								</div>
								<div class="color-hex-name">
									<p class="roboto-bold">#EE3D42</p>
									<p>True Red</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box bright-blue"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#3FA9F5</p>
									<p>Bright Blue</p>
									<p>Active + Link</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box bright-orange"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">##FBB03B</p>
									<p>Bright Orange</p>
									<p>Pending Status</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box bright-green"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#7AC943</p>
									<p>Bright Green</p>
									<p>Confirmed Status</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box grey-disabled"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#D6D6D6</p>
									<p>Grey Disabled</p>
								</div>
							</div>
						</div>
						<!-- end .row -->

						<div class="spacer-32"></div>

						<div class="row">
							<div class="col-sm-2">
								<div class="demo-color-box deep-blue-text"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#001B3A</p>
									<p>Deep Blue Text</p>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="demo-color-box table-highlight-grey"></div>
								<div class="color-hex-name">
									<p class="roboto-bold">#E8EBEF</p>
									<p>Table Highlight Grey</p>
								</div>
							</div>
						</div>
						<!-- end .row -->
						
						<div class="spacer-32"></div>

						<div class="rules-box">
							<p class="roboto-bold">For status there are four primary colors used: </p>

							<div class="spacer-16"></div>
							<p><span class="roboto-bold">1. Red:</span> Red is used to highlight an item that is either overdue or needs immediate attention (ie: an overdue invoice, a delayed 	delivery, etc).</p>

	 						<div class="spacer-16"></div>

							<p><span class="roboto-bold">2. Bright Blue:</span> Bright blue is used as the main active link + button color, and is also used to denote something that is pending because the customer has not confirmed a piece of information (ie: CEMEX has proposed a new delivery time, and the customer needs to confirm that the time works for them).</p>

							<div class="spacer-16"></div>

							<p><span class="roboto-bold">3. Bright Orange:</span> Bright orange is used as the main pending color throughout the experience. This is used when the user has done any actions they are required, but are simply waiting for CEMEX to confirm a piece of information for them (ie if they have submitted a new jobsite and CEMEX needs to confirm the new location, if they have requested an order but CEMEX needs to confirm the quantity and delivery time)</p>

							<div class="spacer-16"></div>

							<p><span class="roboto-bold">4. Bright Green:</span> This green is used to show when an item is active or confirmed, CEMEX has done any confirmation of information they needed to and so has the customer. It is also used in buttons to show progression and the ability to move onto the next item. </p>

							<div class="spacer-16"></div>

							<p><span class="roboto-bold">5. Grey Disabled:</span> This shade of grey is used to show that an item is in-active or disabled.   </p>

						</div>

						<div class="spacer-48"></div>
						
						<img class="img-responsive" src=<%= require("./images/colors-demo-img-1.png") %> alt="colors-demo-image-1" />
						
						<div class="spacer-48"></div>	

						<img class="img-responsive" src=<%= require("./images/colors-demo-img-2.png") %> alt="colors-demo-image-2" />

					</div>
				</div>
				<!-- end .row -->
			</div>
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>