<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Forms</title>
	</head>

	<body>
	<svg style="display:none;">
	  <defs>
		  	<symbol id="icon-minus-basic" viewBox="0 0 10 1">
	          <title>minus</title>
	         <path class="icon-minus-basic" d="M9.49,0h-9A.5.5,0,0,0,0,.49.5.5,0,0,0,.51,1h9A.5.5,0,0,0,10,.49.5.5,0,0,0,9.49,0"/>
	        </symbol>

	        <symbol id="icon-plus-basic" viewBox="0 0 10 10">
	          <title>icon-plus-basic</title>
	          <path class="icon-plus-basic" d="M5.49,5.49h4a.49.49,0,1,0,0-1h-4v-4a.49.49,0,1,0-1,0v4h-4a.49.49,0,1,0,0,1h4v4a.49.49,0,1,0,1,0Z"/>
	        </symbol>
		</defs>
	</svg>

	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="cards.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a class="active" href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Forms</h1>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-12 -->

					<div class="col-md-9">
						<p>Used in step by step processes, forms contain multiple related fields that require user input.  Form interactions are detailed on this page.</p>
					</div>
					<!-- end .col-md-9 -->
				</div>
				<!-- end .row -->
	
				<div class="spacer-32"></div>

				<div class="row">
					<div class="col-md-12">
						<form>
							<h2>Text field</h2>

							<div class="spacer-32"></div>

							<div class="form-group">
								<label for="name-field">Name</label>
								<input type="text" class="form-control" id="name-field" placeholder="Enter name" name="" value="" />
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

							<div class="form-group active">
								<label for="email-field">Email</label>
								<input type="email" class="form-control" id="email-field" placeholder="Enter email address" name="" value="" />
							</div>
							<!-- end .form-group .active -->	

							<div class="spacer-32"></div>

							<div class="form-group error">
								<label for="address-field">Address</label>
								<input type="text" class="form-control" id="address-field" placeholder="..." name="" value="" />
								<span class="error-message">Address cannot be that short.</span>
							</div>
							<!-- end .form-group .error -->

							<div class="spacer-32"></div>

							<h2>Text area element</h2>

							<div class="spacer-32"></div>

							<div class="form-group">
								<label for="textarea-field">Text area element</label>
								<textarea id="textarea-field" class="form-control"></textarea>
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

							<div class="form-group active">
								<label for="textarea-active-field">Text area element</label>
								<textarea id="textarea-active-field" class="form-control"></textarea>
							</div>
							<!-- end .form-group .active -->

							<div class="spacer-32"></div>

							<div class="form-group error">
								<label for="textarea-error-field">Text area element</label>
								<textarea id="textarea-error-field" class="form-control"></textarea>
								<span class="error-message">Provide error message here, if any.</span>
							</div>
							<!-- end .form-group .error -->

							<div class="spacer-32"></div>

							<h2>Select list - indent, padding</h2>

							<div class="spacer-32"></div>

							<div class="form-group">
								<label for="country-field">Country</label>
								<select id="country-field" class="form-control">
									<option ng-repeat+>Afghanistan</option>
									<option>Albania</option>
									<option>Algeria</option>
									<option>Andorra</option>
									<option>Angola</option>
									<option>Argentina</option>
									<option>France</option>
									<option>Germany</option>
									<option>USA</option>
								</select>
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

							<div class="form-group active">
								<label for="country-field-active">Country</label>
								<select id="country-field-active" class="form-control">
									<option ng-repeat+>Afghanistan</option>
									<option>Albania</option>
									<option>Algeria</option>
									<option>Andorra</option>
									<option>Angola</option>
									<option>Argentina</option>
									<option>France</option>
									<option>Germany</option>
									<option>USA</option>
								</select>
							</div>
							<!-- end .form-group .active -->

							<div class="spacer-32"></div>

							<div class="form-group error">
								<label for="country-field-error">Country</label>
								<select id="country-field-error" class="form-control">
									<option ng-repeat+>Afghanistan</option>
									<option>Albania</option>
									<option>Algeria</option>
									<option>Andorra</option>
									<option>Angola</option>
									<option>Argentina</option>
									<option>France</option>
									<option>Germany</option>
									<option>USA</option>
								</select>
							</div>
							<!-- end .form-group .error -->

							<div class="spacer-32"></div>

							<h2>Dropdown Select List</h2>

							<div class="spacer-32"></div>

							<div class="select-dropdown">
								<div class="select-dropdown-item">Alabama</div>
								<div class="select-dropdown-item">Alaska</div>
								<div class="select-dropdown-item">Arizona</div>
								<div class="select-dropdown-item">Alabama</div>
								<div class="select-dropdown-item">Arkansas</div>
								<div class="select-dropdown-item">California</div>
								<div class="select-dropdown-item">Colorado</div>
								<div class="select-dropdown-item">Connecticut</div>
							</div>
							<!-- end .select-dropdown -->

							<div class="spacer-32"></div>

							<h2>Number field</h2>

							<div class="spacer-32"></div>
							
							<div class="form-group">
								
								<div class="number-field-wrapper">
									<label for="number-field">Number field</label>
									<input id="number-field" class="form-control number-control" type="number" value="" placeholder="0" min="" max="" />

									<span class="number-field-btn minus-btn">
								    	<button type="button">
								    		<svg class="icon-minus-basic">
								            	<use xlink:href="#icon-minus-basic"></use>
								            </svg>
								    	</button>
								    </span>

								    <span class="number-field-btn plus-btn">
								    	<button type="button">
								    		<svg class="icon-plus-basic">
								            	<use xlink:href="#icon-plus-basic"></use>
								            </svg>
								    	</button>
								    </span>
							    </div>
							    <!-- end .number-field-wrapper -->
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

							<div class="form-group active">
								
								<div class="number-field-wrapper">
									<label for="number-field">Number field</label>
									<input id="number-field" class="form-control number-control" type="number" value="" placeholder="0" min="" max="" />

									<span class="number-field-btn minus-btn">
								    	<button type="button">
								    		<svg class="icon-minus-basic">
								            	<use xlink:href="#icon-minus-basic"></use>
								            </svg>
								    	</button>
								    </span>

								    <span class="number-field-btn plus-btn">
								    	<button type="button">
								    		<svg class="icon-plus-basic">
								            	<use xlink:href="#icon-plus-basic"></use>
								            </svg>
								    	</button>
								    </span>
							    </div>
							    <!-- end .number-field-wrapper -->
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

							<div class="form-group error">
								
								<div class="number-field-wrapper">
									<label for="number-field">Number field</label>
									<input id="number-field" class="form-control number-control" type="number" value="" placeholder="0" min="" max="" />

									<span class="number-field-btn minus-btn">
								    	<button type="button">
								    		<svg class="icon-minus-basic">
								            	<use xlink:href="#icon-minus-basic"></use>
								            </svg>
								    	</button>
								    </span>

								    <span class="number-field-btn plus-btn">
								    	<button type="button">
								    		<svg class="icon-plus-basic">
								            	<use xlink:href="#icon-plus-basic"></use>
								            </svg>
								    	</button>
								    </span>
							    </div>
							    <!-- end .number-field-wrapper -->

							    <span class="error-message">Provide error message here, if any.</span>
							</div>
							<!-- end .form-group -->

							<div class="spacer-32"></div>

						</form>
					</div>
				</div>


			</div>
			<!-- end .container-fluid -->
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>