<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Grid System</title>

	</head>

	<body>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a class="active" href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Grid System</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-8">
						<p>Used for alignment and fluid layouts down to mobile devices, the 12 column layout and 8px grid are used as a responsive tool ensuring consistency of design regardless of device.</p>
						<br />

						<p>The framework grid is basically the Bootstrap Grid System with some adjustments. Bootstrap’s grid system uses a series of <span class="bright-orange">containers,</span> <span class="bright-orange">rows,</span> and <span class="bright-orange">columns</span> to layout and align content. It’s built with <span class="bright-orange">flexbox</span> and it is <span class="bright-orange">fully responsive</span>. Below is an example and an in-depth look at how the grid comes together.</p>
						<br />

						<div class="row no-gutters">
							<div class="col-sm">
								<div class="grid-block-demo">
									.col-sm
								</div>
							</div>
							<div class="col-sm">
								<div class="grid-block-demo">
									.col-sm
								</div>
							</div>
							<div class="col-sm">
								<div class="grid-block-demo">
									.col-sm
								</div>
							</div>
						</div>
						<br />

						<p>The above example creates three equal-width columns on small, medium, large, and extra large devices using our predefined grid classes. Those columns are centered in the page with the parent <span class="bright-orange">.container</span>.</p>
						<br />

						<p>Breaking it down, here’s how it works:</p>
						<br />

						<ul>
							<li>Containers provide a means to center your site’s contents. Use <span class="bright-orange">.container</span> for fixed width or <span class="bright-orange">.container-fluid</span> for full width.</li>
								
							<li>Rows are horizontal groups of columns that ensure your columns are lined up properly. We use the negative margin method on <span class="bright-orange">.row</span> to ensure all your content is aligned properly down the left side.</li>

							<li><span class="bright-orange">Content</span> should be placed <span class="bright-orange">within columns</span>, and only <span class="bright-orange">columns</span> may be <span class="bright-orange">immediate children of rows</span>.</li>

							<li>Thanks to flexbox, grid columns without a set width will automatically layout with equal widths. For example, four instances of .col-sm will each automatically be 25% wide for small breakpoints.</li>

							<li><span class="bright-orange">Column classes</span> indicate the <span class="bright-orange">number of columns</span> you’d like to use out of the possible 12 per row. So, if you want three equal-width columns, you can use .col-sm-4.</li>

							<li>Column <span class="bright-orange">widths</span> are set <span class="bright-orange">in percentages</span>, so they’re always fluid and sized relative to their parent element.</li>

							<li>Columns have <span class="bright-orange">horizontal</span> padding to create the gutters between individual columns, however, you can remove the margin from <span class="bright-orange">rows</span> and <span class="bright-orange">padding</span> from columns with <span class="bright-orange">.no-gutters</span> on the <span class="bright-orange">.row</span>.</li>
						</ul>
					</div>
				</div>

				<div class="spacer-32"></div>
				<h2>Grid parameters</h2>
				<div class="spacer-32"></div>

				<table class="table table-responsive table-bordered table-striped">
				  <thead>
				    <tr>
				      <th>Device group</th>
				      <th>Mobile Portrait</th>
				      <th>Mobile Landscape</th>
				      <th>Tablet (Portrait)</th>
				      <th>Tablet (Landscape)</th>
				      <th>Laptop / Notebooks</th>
				      <th>Desktops</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Screen Rezolution</th>
				      <td>320x480, 320x568, 375x667, 480x320, 480x800, 540x960, 568x320</td>
				      <td>600x900, 640x480, 667x375</td>
				      <td>768x1024, 800x480, 800x600, 1024x768, 1024x1024</td>
				      <td>1152x864, 1280x1024, 1280x960, 1280x800, 1280x720</td>
				      <td>1366x768, 1400x1050, 1440x900</td>
				      <td>1600x900, 1600x1200 1680x1050, 1920x1080, 1920x1200 2560x1440</td>
				    </tr>
				    <tr>
				      <th scope="row">Width Intervals (px)</th>
				      <td>[0, 576)</td>
				      <td>[576, 768)</td>
				      <td>[768, 1080)</td>
				      <td>[1080,1320)</td>
				      <td>[1320, 1560)</td>
				      <td>[1560, …)</td>
				    </tr>
				    <tr>
				      <th scope="row">Breakpoint (px)</th>
				      <td>&lt; 576</td>
				      <td>&gt;=576</td>
				      <td>&gt;=768</td>
				      <td>&gt;=1080</td>
				      <td>&gt;=1320</td>
				      <td>&gt;=1560 </td>
				    </tr>
				    <tr>
				      <th scope="row">Breakpoint (rems)</th>
				      <td>&lt; 36rem</td>
				      <td>&gt;=36rem</td>
				      <td>&gt;=48rem</td>
				      <td>&gt;=67.5rem</td>
				      <td>&gt;=82.5rem</td>
				      <td>&gt;=97.5rem</td>
				    </tr>
				    <tr>
				      <th scope="row">MAX Container Width</th>
				      <td>None / Auto</td>
				      <td>480</td>
				      <td>768</td>
				      <td>960</td>
				      <td>1152</td>
				      <td>1344</td>
				    </tr>
				    <tr>
				      <th scope="row">Gutter Width (px)</th>
				      <td>8</td>
				      <td>8</td>
				      <td>16</td>
				      <td>16</td>
				      <td>24</td>
				      <td>24</td>
				    </tr>
				    <tr>
				      <th scope="row">Number of columns</th>
				      <td colspan="6">12</td>
				    </tr>
				    <tr>
				      <th scope="row">Column width (px)</th>
				      <td>Auto</td>
				      <td>32</td>
				      <td>48</td>
				      <td>64</td>
				      <td>72</td>
				      <td>88</td>
				    </tr>
				    <tr>
				      <th scope="row">Column name</th>
				      <td>col-</td>
				      <td>col-xs-</td>
				      <td>col-sm-</td>
				      <td>col-md-</td>
				      <td>col-lg-</td>
				      <td>col-xlg-</td>
				    </tr>
				  </tbody>
				</table>

				<div class="spacer-32"></div>
				<h2>Other examples</h2>
				<div class="spacer-32"></div>

				<div class="row">
					<div class="col-xs-4">
						<div class="grid-block-demo">
							.col-xs-4
						</div>
					</div>
					<div class="col-xs-4">
						<div class="grid-block-demo">
							.col-xs-4
						</div>
					</div>
					<div class="col-xs-4">
						<div class="grid-block-demo">
							.col-xs-4
						</div>
					</div>
				</div>

				<div class="spacer-16"></div>

				<div class="row">
					<div class="col-xs-3">
						<div class="grid-block-demo">
							.col-xs-3
						</div>
					</div>

					<div class="col-xs-9">
						<div class="grid-block-demo">
							.col-xs-9
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>