<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Start</title>

	</head>

	<body>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a class="active" href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>CEMEX Bootstrap</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-8">
						<div class="paragraph-group">
							<p>All the brand guidelines, graphics and components of CEMEX Digital World, under one umbrella. This is a framework of best practices and a living artifact of art direction, documentation and code snippets maintained by CEMEX.</p>
							<div class="spacer-16"></div>
							<p>Our mission is to build consistent experience, translated into apps, that conform to our users and market needs. Under each category you'll find the latest examples and live demos of how to apply the styles in order to achive this scope.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="grid.html">
							<div class="box">
								<img src=<%= require("./svg/grid-icon.svg") %> alt="grid icon" />
								<h2>Grid System	</h2>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="typography.html">
							<div class="box">
								<img src=<%= require("./svg/typography-icon.svg") %> alt="typography icon" />
								<h2>Typography</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="colors.html">
							<div class="box">
								<img src=<%= require("./svg/colors-icon.svg") %> alt="colors icon" />
								<h2>Colors</h2>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="buttons.html">
							<div class="box">
								<img src=<%= require("./svg/buttons-icon.svg") %> alt="buttons icon" />
								<h2>Buttons</h2>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="icons.html">
							<div class="box">
								<img src=<%= require("./svg/icons-icon.svg") %> alt="icons icon" />
								<h2>Icons</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="navigation.html">
							<div class="box">
								<img src=<%= require("./svg/cards-icon.svg") %> alt="cards icon" />
								<h2>Navigation</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="tables.html">
							<div class="box">
								<img src=<%= require("./svg/tables-icon.svg") %> alt="tables icon" />
								<h2>Tables</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="maps.html">
							<div class="box">
								<img src=<%= require("./svg/maps-icon.svg") %> alt="maps icon" />
								<h2>Maps</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="forms.html">
							<div class="box">
								<img src=<%= require("./svg/forms-icon.svg") %> alt="forms icon" />
								<h2>Forms</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="alerts.html">
							<div class="box">
								<img src=<%= require("./svg/alerts-icon.svg") %> alt="forms icon" />
								<h2>Alerts</h2>	
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-xlg-3">
						<a class="card-container" href="modals.html">
							<div class="box">
								<img src=<%= require("./svg/modals-icon.svg") %> alt="modals icon" />
								<h2>Modals</h2>	
							</div>
						</a>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>