<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Maps</title>
	</head>

	<body>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a class="active" href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Maps</h1>
						<div class="spacer-32"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9">
						<p>Used in the design of applications to accompany pages where the location address is a main data component of the page. Maps are used to visually indicate the position of a location for users, ensuring the exact location.</p>
						<p>The style applied to the map can be found on <a target="_blank" href="https://snazzymaps.com/style/109752/aaa">snazzymaps.com</a>.</p>
					</div>

					<div class="spacer-32"></div>

					<div class="col-md-12">
						<h2>Simple Map</h2>
						<div class="spacer-16"></div>

						<!-- in this container we insert a map -->
						<div id="map"></div>
					</div>

					<div class="spacer-32"></div>

					<div class="col-md-12">
						<h2>Map with Bottom Ribbon</h2>
						<div class="spacer-16"></div>

						<div class="google-wrapper">
							<div id="map2"></div>
							<div id="google-map-overlay">
								<div class="overlay-content">
						            <p>
						            	<span class="dot-legend"></span>Delivery Address Location
						            </p>
					            </div>
					        </div>
				        </div>
				        <!-- end .google-wrapper -->
					</div>
					<!-- end .col-md-12 -->

					<div class="spacer-32"></div>

					<div class="col-md-12">
						<h2>Map with Side Pannel</h2>
						<div class="spacer-16"></div>

						<div class="google-wrapper">
							<div id="map3"></div>
							<div id="google-map-overlay-side">
								<div class="overlay-content">
									<div class="map-input-group">
										<label for="latitude">Latitude:</label>
						            	<input id="latitude" type="text" name="" value="25.686614" readonly />
						            </div>

									<div class="map-input-group">
						            	<label for="longitude">Longitude:</label>
						            	<input id="longitude" type="text" name="" value="-100.316113" readonly />
						            </div>
					            </div>
					        </div>
					        <!-- end #google-map-overlay-side -->
				        </div>
				        <!-- end .google-wrapper -->
					</div>
					<!-- end .col-md-12 -->

					<div class="spacer-32"></div>
				</div>

			</div>
		</div> 
	</div>
	<!-- end #wrapper -->

	<script src="http://maps.googleapis.com/maps/api/js"></script>
	</body>
</html>