<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Modals</title>
	</head>

	<body>
	
	<svg style="display:none;">
		<defs>
			<symbol id="icon-close" viewBox="0 0 12 12">
  				<title>close</title>
  				<path class="icon-close" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z" transform="translate(0 0)"/>
  			</symbol>

  			<symbol id="icon-accepted-ok" viewBox="0 0 48 48.28">
	  			<title>accepted-ok</title>
	    		<path class="icon-accepted-ok" d="M19.86,27.56l-5.48-5.48a2,2,0,0,0-2.82,0l-3,3a2,2,0,0,0,0,2.82l9.89,9.89a2,2,0,0,0,2.85,0L39.63,19.45a2,2,0,0,0,0-2.83l-3-3a2,2,0,0,0-2.83,0ZM24,.08A24.14,24.14,0,1,1,0,24.22,24.07,24.07,0,0,1,24,.08Z" transform="translate(0 -0.08)"/>
			</symbol>
		</defs>
	</svg>

	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a class="active" href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Modals</h1>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-12 -->
				</div>
				<!-- end .row -->

				<div class="row">
					<div class="col-md-8">
						
						<h2>Overview</h2>
						<div class="spacer-16"></div>
						<p>Modals are used for confirmation popups, or when a user has to complete a minimal amount of actions that do not fit into their current experience. Modals should speak to users in a clear and concise way, and never be &quot;titled&quot;. Modals also allow the user to focus on a sepcific task.</p>
						<div class="spacer-16"></div>
						<div class="rules-box">
							<span class="roboto-medium">Rules:</span>
							<p>1. Limit the amount of steps a user goes through in a modal to one (if there is more than one step a user needs to complete, utilize the step-by-step process).</p>
							<p>2. Always give the user a confirmation modal after they have gone through a process.</p>
							<p>3. Always put a close button in the upper right hand corner, and never put more than two buttons at the bottom (the right hand button should move the user through the experience and the left hand button could be an exit button if necessary).</p>
						</div>
					</div>
					<!-- end .col-md-8 -->

					<div class="spacer-48"></div>

					<div class="col-md-8">

						<h2>Interactive Modal</h2>
						<div class="spacer-16"></div>

						<!-- start code for interactive modal -->
						<div class="modal-container">
							<div class="modal-interactive">
								
								<a href="#" class="modal-close">
									<svg class="icon-close-black">
  										<use xlink:href="#icon-close"></use>
  									</svg>
								</a>
								<!-- end .modal-close -->

								<div class="modal-header">
									<div class="container-fluid">
										<div class="row">
											<div class="col-12">
												<h3 class="text-center">You have requested a revision to product: <br />
													<span class="roboto-bold">#2000000051  | fc-100-10-20-14</span>
												</h3>
												<div class="spacer-32"></div>
												<h3 class="text-center">
													Please give a reason for your revision request below.
												</h3>
												<div class="spacer-48"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- end .modal-header -->

								<div class="modal-body">
									<div class="container-fluid">
										<div class="row">
											<div class="col-12">
												<div class="h-delimiter"></div>
												
												<p>Please Provide Reasoning for Request</p>
												<div class="spacer-24"></div>

												<div class="form-group">
													<textarea class="form-control" placeholder="Examples: Different pricing shown than was agreed upon with sales representitve, need more quantity and would like to see if there is a different price for larger volume, etc."></textarea>
												</div>
												<div class="spacer-32"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- end .modal-body -->

								<div class="modal-footer">
									<div class="container-fluid">
										<div class="row">
											<div class="col-12">
												<div class="modal-cta text-center">
													<button class="button-ghost">Cancel</button>
													<button class="button bright-green">Submit</button>
												</div>
												<div class="spacer-16"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- end .modal-footer -->
							
							</div>
							<!-- end .modal-interactive -->
						</div>
						<!-- end .modal-container -->
						<!-- end code for interactive modal -->

						<div class="spacer-48"></div>

						<h2>Confirmation Modal</h2>
						<div class="spacer-16"></div>

						<p>After the user completes a process, they should always be presented with a confirmation modal.
						This provides the user transparency throughout the experience. 
						</p>

						<div class="spacer-16"></div>

						<div class="rules-box">
							<p>Confirmation modals should be consistent across the entire experience and contain three elements: <br />
							1. A green confirmation icon<br/>
							2. Supporting text underneath: keep this concise but provide the user with enough information that they understand when they should expect to hear more from CEMEX, or if the process is completely done<br/>
							3. A close button on the upper right hand corner
							</p>
						</div>

						<div class="spacer-16"></div>
						<div class="rules-box">
							<p>It is not necessary here to add any “close” buttons or “return to” buttons at the bottom of the modal. 
						The user simply is returned to where they were in their experience before right after they close the modal.</p>
						</div>
						<div class="spacer-16"></div>

						<!-- start code for confirmation modal -->
						<div class="modal-container">
							<div class="modal-confirmation">

								<a href="#" class="modal-close">
									<svg class="icon-close-black">
  										<use xlink:href="#icon-close"></use>
  									</svg>
								</a>
								<!-- end .modal-close -->

								<div class="modal-body">
									<div class="container-fluid">
										<div class="row justify-content-center">
											<div class="col-md-10">
												<div class="spacer-32"></div>
												<svg class="icon-accepted-ok">
  													<use xlink:href="#icon-accepted-ok"></use>
  												</svg>
  												<div class="spacer-32"></div>
												
												<h3>Your revision request has been submitted. <br />
												CEMEX will respond to you within 48 hours with a decision on the request. </h3>
												
												<div class="spacer-32"></div>
											</div>
											<!-- end .col-md-10 -->
										</div>
										<!-- end .row -->
									</div>
									<!-- end .container-fluid -->
								</div>
								<!-- end .modal-body -->

							</div>
							<!-- end .modal-confirmation -->
						</div>
						<!-- end .modal-container -->
						<!-- end code for confirmation modal -->

						<div class="spacer-48"></div>
						
						<h2>Informational Modal</h2>
						<div class="spacer-16"></div>

						<p>One exception to using headers in the modal experience is for terms and conditions, surcharges,<br/> 
						and other &quot;informational&quot; modals. </p>

						<div class="spacer-16"></div>

						<div class="rules-box">
							<p>Informational modals are used when the user is simply being presented information, there are no actions that they should be taking or completing. </p>
						</div>

						<div class="spacer-16"></div>
						
						<!-- start code for informational modal -->
						<div class="modal-container">
							<div class="modal-informational">

								<a href="#" class="modal-close">
									<svg class="icon-close-black">
  										<use xlink:href="#icon-close"></use>
  									</svg>
								</a>
								<!-- end .modal-close -->

								<div class="modal-header">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-12">
												<h3 class="roboto-bold">Terms + Conditions</h3>
											</div>
										</div>
									</div>
								</div>

								<div class="modal-body">
									<div class="container-fluid">
										<div class="row justify-content-center">
											<div class="col-md-12">
												<div class="spacer-16"></div>

													<div class="modal-scrolling-content" id="testbar">
														<p><span class="roboto-medium">9. DELIVERY AND INDEMNIFICATION.</span> Seller's responsibility for delivery shall cease FOB shipping point or, if Seller agrees to deliver FOB delivery
														site, at the curbside or street or frontage of the address of delivery. If Buyer requires Seller to cross a curb line or enter upon private property to make delivery on site, Buyer shall be responsible to provide safe and adequate access and such delivery shall be at the risk of Buyer. Following delivery, Buyer shall be responsible for compliance with all governmental regulations and ordinances with regard to disposal, storage or placement of the same and shall indemnify and hold Seller harmless against all claims for personal injuries, including death, and any damage to private or public property arising from the delivery, storage, use, disposal or handling of said Materials. Unless otherwise specifically agreed, shipments will be made only during normal business hours, but not Saturdays, Sundays, or holidays recognized by Seller or labor unions under contract with Seller. If Buyer is in default under this Agreement or any of its contracts or obligations with Seller, Seller may, at its sole option and without prejudice to any of its other remedies: (i) postpone further deliveries or shipments until such default is remedied; or (ii) terminate any and all obligations under any contract or obligation and refuse further performance without any liability to Buyer.</p>

														<div class="spacer-16"></div>

														<p><span class="roboto-medium">10. TITLE OF SECTION</span> Seller's responsibility for delivery shall cease FOB shipping point or, if Seller agrees to deliver FOB delivery
														site, at the curbside or street or frontage of the address of delivery. If Buyer requires Seller to cross a curb line or enter upon private property to make delivery on site, Buyer shall be responsible to provide safe and adequate access and such delivery shall be at the risk of Buyer. Following delivery, Buyer shall be responsible for compliance with all governmental regulations and ordinances with regard to disposal, storage or placement of the same and shall indemnify and hold Seller harmless against all claims for personal injuries, including death, and any damage to private or public property</p>
													</div>
													<div class="white-fade"></div>

												<div class="spacer-16"></div>
											</div>
											<!-- end .col-md-10 -->
										</div>
										<!-- end .row -->
									</div>
									<!-- end .container-fluid -->
								</div>
								<!-- end .modal-body -->

							</div>
							<!-- end .modal-informational -->
						</div>
						<!-- end .modal-container -->
						<!-- end code for informational modal -->

						<div class="spacer-48"></div>
					
					</div>
					<!-- end .col-md-8 -->
				</div>
				<!-- end .row -->
			</div>
			<!-- end .container-fluid -->
		</div> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>