<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width">
		<title>CEMEX Bootstrap - Typography</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	</head>

	<body>
	<div id="wrapper">
		<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-12 main-header-wrap">
					<div class="row">
						<div class="col-5 col-xs-5 col-md-5">
							<a class="toggle-menu opened-nav" href="#"><img src=<%= require("./svg/burger-menu.svg") %> alt="menu" /></a>
						</div>
						<div class="col-2 col-xs-2 col-md-2">
							<header>
								<a href="#"><img src=<%= require("./svg/logo.svg") %> alt="CEMEX logo" /></a>
							</header>
						</div>
						<!-- end .col-md-6 -->
						<div class="col-5 col-xs-5 col-md-5">
							<div class="user-links">
								<span class="notifications"><a href="#">Notifications</a></span>
								<span class="username"><a href="#">John Smith</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end .main-header-wrap -->
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container-fluid -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<div class="nav-header">
					<p>Acme Construction</p>
					<a href="#">ID #1233312 &gt;</a>
				</div>
				<ul class="nav metismenu" id="side-menu">
					<li>
						<a href="index.html">Start</a>
					</li>		
					<li>
						<a href="grid.html">Grid System</a>
					</li>
					<li>
						<a class="active" href="typography.html">Typography</a>
					</li>
					<li>
						<a href="colors.html">Colors</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="navigation.html">Navigation</a>
					</li>
					<li>
						<a href="tables.html">Tables</a>
					</li>
					<li>
						<a href="maps.html">Maps</a>
					</li>
					<li>
						<a href="forms.html">Forms</a>
					</li>
					<li>
						<a href="alerts.html">Alerts</a>
					</li>
					<li>
						<a href="modals.html">Modals</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end .navbar-default -->

		<div class="page-wrapper">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="spacer-32"></div>
						<h1>Typography</h1>
						<div class="spacer-32"></div>
					</div>
					<div class="col-md-8">
						<div class="paragraph-group">
							<p>The consistent use of the Roboto family will ensure that every touch point and medium communicates its message effectively through a common language. Roboto has great variety in weights and can be implemented in different combinations based on the type of message, the appropriate hierarchy and/or the desired cadence to engage the intended audience.</p>
							<div class="spacer-16"></div>
							<p>Font weights should be determined based on whether the message is a heading, body, navigation, footer, link, etc.</p>
							<div class="spacer-16"></div>
							<p>Each will require a different treatment, and the right application will ensure readability and sound hierarchy.  </p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<div class="roboto-bold demo-type-block">
							<span class="float-right">Bold</span>
							<span class="demo-type-sample">Aa</span>
							<span class="demo-type-family">Roboto</span>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="demo-type">
							<p class="roboto-bold">abcdefghijklmnopqrstuvwyxz</p>
							<p class="roboto-bold">ABCDEFGHIJKLMNOPQRSTUVWYXZ</p>
						</div>
					</div>

					<div class="spacer-16"></div>

					<div class="col-sm-3">
						<div class="roboto-medium demo-type-block">
							<span class="float-right">Medium</span>
							<span class="demo-type-sample">Aa</span>
							<span class="demo-type-family">Roboto</span>
						</div>
					</div>

					<div class="col-sm-9">	
						<div class="demo-type">
							<p class="roboto-medium">abcdefghijklmnopqrstuvwyxz</p>
							<p class="roboto-medium">ABCDEFGHIJKLMNOPQRSTUVWYXZ</p>
						</div>
					</div>

					<div class="spacer-16"></div>

					<div class="col-sm-3">
						<div class="roboto-regular demo-type-block">
							<span class="float-right">Regular</span>
							<span class="demo-type-sample">Aa</span>
							<span class="demo-type-family">Roboto</span>
						</div>
					</div>

					<div class="col-sm-9">
						<div class="demo-type">	
							<p>abcdefghijklmnopqrstuvwyxz</p>
							<p>ABCDEFGHIJKLMNOPQRSTUVWYXZ</p>
						</div>
					</div>

					<div class="spacer-16"></div>

					<div class="col-sm-3">
						<div class="roboto-light demo-type-block">
							<span class="float-right">Light</span>
							<span class="demo-type-sample">Aa</span>
							<span class="demo-type-family">Roboto</span>
						</div>
					</div>

					<div class="col-sm-9">	
						<div class="demo-type">
							<p class="roboto-light">abcdefghijklmnopqrstuvwyxz</p>
							<p class="roboto-light">ABCDEFGHIJKLMNOPQRSTUVWYXZ</p>
						</div>
					</div>

					<div class="spacer-16"></div>

					<div class="col-sm-3">
						<div class="roboto-thin demo-type-block">
							<span class="float-right">Thin</span>
							<span class="demo-type-sample">Aa</span>
							<span class="demo-type-family">Roboto</span>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="demo-type">
							<p class="roboto-thin">abcdefghijklmnopqrstuvwyxz</p>
							<p class="roboto-thin">ABCDEFGHIJKLMNOPQRSTUVWYXZ</p>
						</div>
					</div>
					
				</div>
				<!-- end .row -->

				<div class="spacer-48"></div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="h3-role">Main Typography</h2>
					</div>
					<!-- end .col-md-12 -->
					
					<div class="spacer-32"></div>

					<div class="col-md-6">
						<h1>H1 - Locations Dropdown</h1>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Bold </p>
							<p>Font-Size: 48 </p>
							<p>Line Height: 48</p>
							<p>Font-Color: #001B3B</p>
						</div>

						<div class="spacer-32"></div>
			
						<h2 class="link">H2 - Linked Breadcrumb Styling</h2>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular </p>
							<p>Font-Size: 26</p>
							<p>Line Height: 32</p>
							<p>Font-Color: #37A8F8</p>
						</div>

						<div class="spacer-32"></div>
	
						<h3>H3 - Unlinked Breadcrumb Styling</h3>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular </p>
							<p>Font-Size: 26</p>
							<p>Line Height: 32</p>
							<p>Font-Color: #001B3B </p>
						</div>
					</div>
					<!-- end .col-md-6 -->
					
					<div class="col-md-6">
						<div class="spacer-16"></div>
						<h4>H4 - Detail Page Heading</h4>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Medium</p>
							<p> Font-Size: 32</p>
							<p>Line Height: 32</p>
							<p>Font-Color: #001B3B</p>
						</div>

						<div class="spacer-32"></div>
					
						<div class="spacer-8"></div>
						<h5>H5 - Overall Form Title</h5>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular </p>
							<p>Font-Size: 20</p>
							<p>Line Height: 24</p>
							<p>Font-Color: #001B3B</p>
						</div>

						<div class="spacer-32"></div>
						
						<div class="spacer-16"></div>
						<h6>H6 - Sub-Section Heading</h6>
						<div class="h-delimiter"></div>	
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Medium</p>
							<p> Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Text-Transform: Uppercase</p>
							<p>Font-Color: #001B3B</p>
						</div>
					</div>
					<!-- end .col-md-6 -->
				</div>
				<!-- end .row -->

				<div class="spacer-48"></div>

				<div class="row">

					<div class="col-md-12">
						<h2 class="h3-role">Supporting Typography</h2>
					</div>
					<!-- end .col-md-12 -->

					<div class="spacer-32"></div>

					<div class="col-md-6">
						<span class="table-entry">Table Cell Entries - Regular</span>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular</p>
							<p>Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Font-Color: #333333</p>
						</div>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-6 -->

					<div class="col-md-6">
						<a href="#" class="table-entry">Table Cell Entries - Linked Content</a>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular</p>
							<p>Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Font-Color: #37A8F8</p>
						</div>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-6 -->

					<div class="col-md-6">
						<span class="table-entry-strong">Table Cell Entries - Bolded Entry</span>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Medium</p>
							<p>Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Font-Color: #333333</p>
						</div>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-6 -->

					<div class="col-md-6">
						<span class="input-placeholder">Form Field - Placeholder Text</span>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular</p>
							<p>Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Font-Color: #666666</p>
						</div>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-6 -->

					<div class="col-md-6">
						<span class="input-text">Form Field - Completed Field</span>
						<div class="h-delimiter"></div>
						<div class="rules-box">
							<p class="roboto-medium">FONT STYLING</p>
							<p>Font-Family: Roboto Regular</p>
							<p>Font-Size: 14</p>
							<p>Line Height: 16</p>
							<p>Font-Color: #333333</p>
						</div>
						<div class="spacer-32"></div>
					</div>
					<!-- end .col-md-6 -->
				</div>
				<!-- end .row -->

				<div class="spacer-48"></div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="h3-role">Special Text Format</h2>
					</div>
					
					<div class="spacer-32"></div>

					<div class="col-md-2">
						<p>Abbreviation</p>
					</div>
					<div class="col-md-10">
						Metric tons = TN <br/>
						Short tons = ST <br />
						Kilograms = kg <br />
						Cubic metre = m<sup>3</sup> <br />
						Cubic yard = yd<sup>3</sup> <br />
						Eaches = EA <br />
						Peaces = PZ <br />
					</div>

					<div class="spacer-32"></div>
					
					<div class="col-md-2">
						<p>Price style</p>
					</div>
					<div class="col-md-10">
						<span class="size-24 roboto-light">$2,033<sup>.23</sup></span> <br />
						<span class="size-24 roboto-bold">$1,151.97</span><br />
						<span class="size-15 roboto-bold">$15,000.00</span> <br />
					</div>
				</div>
				<!-- end .row -->

				<div class="spacer-48"></div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="h3-role">Date and Time Format</h2>
						<div class="spacer-16"></div>
					</div>
					<div class="col-md-6">
						<p>The presentation of date and time should be consistent throughout the user experience. 
						It is important to consider a users geographical region when presenting date + time information. 
						For this reason, please use the standard format by location.  </p>
					</div>

					<div class="spacer-32"></div>

					<div class="col-md-12">
						<p class="roboto-bold">US</p>
						<p>12-hour digital clocks, with a.m. and p.m. Example: <span class="roboto-bold">11:00 a.m. - 2:00 p.m.</span></p>
						<p>Date format: numeric date <span class="roboto-bold">“MM/DD/YYYY”</span> and expanded form <span class="roboto-bold">"January 1, 2017"</span> and short form <span class="roboto-bold">“Jan 1, 2017"</span></p>
	
						<div class="spacer-16"></div>

						<p class="roboto-bold">MEXICO</p>
						<p>12-hour digital clocks, with a.m. and p.m. Example: <span class="roboto-bold">11:00 a.m. - 2:00 p.m.</span></p>
						<p>Date format: numeric date <span class="roboto-bold">“DD/MM/YYYY”</span> and expanded form <span class="roboto-bold">“1 January 2017"</span> and short form <span class="roboto-bold">“1 Jan 2017"</span></p>

						<div class="spacer-16"></div>

						<p class="roboto-bold">EUROPEAN</p>
						<p>12-hour digital clocks, with a.m. and p.m. Example: <span class="roboto-bold">11:00 a.m. - 2:00 p.m.</span></p>
						<p>Date format: numeric date <span class="roboto-bold">“DD/MM/YYYY”</span> and expanded form <span class="roboto-bold">“1 January 2017"</span> and short form <span class="roboto-bold">“1 Jan 2017"</span></p>
					</div>
				</div>
				<!-- end .row -->

				<div class="spacer-48"></div>

			</div>
			<!-- end .container-fluid -->
		</div>
		<!-- end .page-wrapper --> 
	</div>
	<!-- end #wrapper -->

	</body>
</html>