// APP.SCSS
// --------

// Imports the components needed to build the app

@import "components/reset";
@import "components/grid";

// Import bootstrap responsive table
@import "mixins/table-row";
@import "components/tables";

// Import floats
@import "mixins/float";

// Import the toggler component styles
@import "components/toggle-switch.css";

// Import colors
@import "variables/colors";

// Import radius
@import "variables/radius";

// Import borders
@import "variables/borders";

// Import typography rules
@import "components/typography";

// Import buttons
@import "components/buttons";

// Import SVG Icons
@import "components/icons";

// start helper classes
.no-padding {
	padding: 0;
	overflow-x: hidden;
}

.spacer-8 {
	width: 			100%;
	height: 		0.5rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-16 {
	width: 			100%;
	height: 		1rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-24 {
	width: 			100%;
	height: 		1.5rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-32 {
	width: 			100%;
	height: 		2rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-48 {
	width: 			100%;
	height: 		3rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.h-delimiter {
	width: 			100%;
	height: 		1px;
	margin: 		8px 0 24px;
	background: 	$disabled-grey;
}

.toggle-menu {
	display: 		inline-block;
    width: 			24px;
    height: 		24px;
    margin: 		4px 16px;
}

.img-responsive {
	width: 100%;
}

.clear {
	clear: both;
}

table th,
table td {
	min-width: 160px;
	vertical-align: middle;
	font-size: $font-size-14; 
}

// end helper classes

body {
	font-family: 			$font-family;
	background: 			$background-grey;
	-webkit-font-smoothing: antialiased; // prevent blurry fonts
}

.main-header-wrap {

	header {
		text-align: center;
	}

	.user-links {
		font-weight: 	$font-bold;
		font-family: 	$font-family;
		font-size: 		$font-size-14;
		text-align: 	right;

		.notifications {
			display: 	inline-block;
			margin-top: 8px;
			padding: 	0 16px;

			a {
				color: 	$true-red;
			}
		}

		.username {
			display: inline-block;
			margin-top: 8px;
			padding: 0 16px;

			a {
				color: $bright-blue;
			}
		}
	}
}

#wrapper {
	width: 		100%;
	//overflow-x: hidden;
}

.navbar-static-side {
	z-index: 	2001;
    position: 	absolute;
    width: 		160px;
    min-height: 100%;
    min-height: calc(100% - 50px);
}

.navbar-default {
	background-color: $true-blue;
}

ul.nav {
	list-style: none;
	padding: 	0;
}

.nav-header {
	min-height: 	88px;
	background: 	$medium-blue;
	padding: 		24px 16px;
	color: 			$true-white;
	font-family: 	$font-family;
	font-size: 		$font-size-14;
	
	p {
		font-weight: $font-regular;
	}

	a {
		color: 		$true-white;
		font-weight: $font-bold;
	}
}

ul.nav li a {
	color: 			$background-grey;
    padding: 		16px 32px;
    display: 		inline-block;
    width: 			100%;
    font-size: 		14px;
    font-weight: 	normal;
    transition: 	all 0.3s;
    text-decoration: none;
    
    &:hover {
    	color: 			$true-white;
    	background: 	$deep-blue;
    }
    
    &.active {
    	color: 			$true-white;
    	background: 	$bright-blue;
    }
}


.page-wrapper {
	margin: 0 0 0 160px;
}

.main-header-wrap {
	background: 	$true-white;
	padding: 		0.5rem;
	border-bottom: 	2px solid $true-red;
}

.page-wrapper {

	a.card-container {
		display: 			block;
		text-decoration: 	none;
		transition: 		all 0.2s;
		color: 				$bright-blue;

		.box {
			background: 	$true-white;
			border-radius: 	$radius-4;
			min-height: 	146px;
			margin-bottom: 	16px;
			padding: 		8px;
			border: 		1px solid $true-white;
	    	box-shadow: 	0 1px 3px $disabled-grey;
	    	display: 		flex;
	    	align-items: 	center;
	    	justify-content: space-around;

			img {
				width: 	30%;
				padding: 	16px;
			}

			h2 {
				width: 			50%;
				font-size: 		$font-size-18;
				font-weight: 	$font-bold;
				font-family: 	$font-family;
				color: 			$bright-blue;
				text-decoration: none;
			}
		}

		&:hover {
			box-shadow: 0 2px 6px $disabled-grey;
		}
	}

	.paragraph-group {

		p:last-child {
			margin-bottom: 2rem;
		}
	}
}

// START GRID DEMO PAGE

	.grid-block-demo {
		background: 			$bright-orange;
	    border: 				1px solid #c7965f;
	    color: 					$dark-grey;
	    min-height: 			60px;
	    display: 				flex;
	    align-items: 			center;
	    justify-content: 		center;
		span {
			align-content: 		center;
			justify-content: 	center;
		}
	}

// END GRID DEMO PAGE


// START TYPOGRAPHY DEMO PAGE

	.rules-box {
		background: #fffbc2;
	    padding: 20px;
	    border-radius: 2px;
	    border: 1px dashed $medium-grey;
	}

	.demo-type-block {
		background-color: 	$true-blue;
		color: 				$true-white;
		border-radius: 		$radius-2;
		width: 				100%;
		padding: 			24px;
		@include float-left;

		.float-right {
			@include float-right;
		}

		.demo-type-sample {
			font-size: 		$font-size-56;
			line-height: 	$line-height-56;
			display: 		inline-block;
			@include float-left;
		}

		.demo-type-family {
			font-size: 		$font-size-20;
			line-height: 	$line-height-20;
			width: 			100%;
			display: 		inline-block;
		}

		&.roboto-bold {
			font-weight: $font-bold;
		}

		&.roboto-medium {
			font-weight: $font-medium;
		}

		&.roboto-regular {
			font-weight: $font-regular;
		}

		&.roboto-light {
			font-weight: $font-light;
		}

		&.roboto-thin {
			font-weight: $font-thin;
		}
	}

	.demo-type {
		font-size: 		$font-size-26;
		line-height: 	$line-height-32;
		margin: 		30px 0;
	}

// END TYPOGRAPHY DEMO PAGE


// START COLORS DEMO PAGE

	.demo-color-box {
		width: 100%;
		min-height: 120px;
		margin-bottom:20px;
	}

	.demo-border-box {
		border: 1px solid #cacaca;
	}

	.color-hex-name {
		line-height: 1.2;
	}

	.background-grey {
		background: $background-grey;
	}

	.true-blue {
		background: $true-blue;
	}

	.medium-blue {
		background: $medium-blue;
	}

	.true-white {
		background: $true-white;
	}

	.dark-grey {
		background: $dark-grey;
	}

	.medium-grey {
		background: $medium-grey;
	}

	.true-red {
		background: $true-red;
	}

	.bright-blue {
		background: $bright-blue;
	}

	.bright-orange {
		background: $bright-orange;
	}

	.bright-green {
		background: $bright-green;
	}

	.disabled-grey {
		background: $disabled-grey;
	}

	.deep-blue-text {
		background: $deep-blue;
	}

	.table-highlight-grey {
		background: $table-highlight-grey;
	}

// END COLORS DEMO PAGE


// START ICONS DEMO PAGE

	.icon-wrap-container {
		float: left;
		width: 100%;
		margin-bottom: 20px;

		&.icon-size-12 {
			svg {
				width: 14px;
				height: 14px;
				margin-right: 18px;	
			}
			span {
				padding-top:4px;
			}
		}
		
		.icon-demo-background {
			background: $deep-blue;
			float: left;
			width: 42px;
			height: 42px;
			margin-right: 20px;
		}

		svg {
			float: left;
			margin: 8px;
		}

		span {
			float: left;
			display: inline-block;
			padding-top: 8px;
		}
	}
	
// END ICONS




// START NAVIGATION DEMO PAGE

	.main-nav-bar {
		position: relative;
		width: 100%;
		height: 56px;
		border-bottom: 2px solid $true-red;
		background: $medium-blue;
		.cmx-logo {
			width: 133px;
			height: 28px;
			fill: $true-white;
			margin-top: 13px;
			margin-left: 13px;
			float: left;
			opacity: 0.8;
			transition: all 0.2s;

			&:hover {
				opacity: 1;
			}
		}

		.circle {
			font-weight: $font-bold;
			font-size: $font-size-14;
			border-radius: 50px;
			width: 32px;
			height: 32px;
			color: $true-white;
			text-align: center;
			line-height: $line-height-32;
			float: left;
			&.red-circle {
				background: $true-red;	
			}
			&.deep-blue-circle {
				background: $deep-blue;
			}
		}

		.main-nav-items {

			float: right;

			.main-nav-item {
				float: left;
				display: inline-block;
				position: relative;
			}

			.vertical-bar {
				width: 1px;
				height: 32px;
				background: $true-white;
				opacity: 0.3;
				margin: 12px 0;
				float: left;
			}

			.notifications {
				position: relative;
				float: left;
				font-weight: $font-bold;
				font-size: $font-size-14;
				color: $true-white;
				margin: 12px;
				cursor: pointer;

				.as-label {
					padding: 6px 12px;
					opacity: 0.8;
					float: left;

					&:hover {
						opacity: 1;
					}
				}
			}	

			.search-container {
				margin: 15px 12px 10px 12px;
				fill: $true-white;
				opacity: 0.8;
				width: 28px;
				height: 32px;

				&:hover {
					opacity: 1;
				}

				svg {
					fill: $true-white;
				}
			}

			.user-logged {
				margin: 12px;
				.circle {
					font-weight: $font-bold;
					font-size: $font-size-14;
					border-radius: 50px;
					width: 32px;
					height: 32px;
					background: $true-white;
					color: $deep-blue;
					text-align: center;
					text-transform: uppercase;
					line-height: $line-height-32;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.notifications-container {
		position: absolute;
		z-index: 1000;
		width: 382px;
		background: $true-white;
		border-top: 2px solid $bright-blue;
		top: 52px;
		right: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
	}

	.notifications-list {
		padding: 16px;
	}

	.notification-entry {
		float: left;
		clear: both;
		margin-bottom: 16px; 
	}

	.notification-entry .notification-icon {
		float: left;
		width: 24px;
		margin-right: 16px;
	}

	.notification-entry .notification-data {
		float: left;
		width: 310px;
	}

	.notification-entry h6 {
		font-size: $font-size-16;
		font-weight: $font-medium;
		margin-bottom: 8px;
	}

	.notification-entry p {
		font-size: $font-size-12;
		line-height: $line-height-16;
		max-width: 280px;
		margin-bottom: 8px;
	}

	.notification-entry .call-to-action {
		font-size: $font-size-12;
		font-weight: $font-medium;
		line-height: $line-height-12;
		float: right;
		margin-bottom: 16px;
	}

	.notification-entry:last-child .call-to-action {
		margin-bottom: 0;
	}

	.horizontal-dotted {
		width: 100%;
		height: 1px;
		background: url("../images/dotted-tile.png") repeat-x;
		float: left;
	}

	.main-cta {
		float: right;
		font-weight: $font-bold;
		font-size: 14px;
		padding: 16px;
	}

	.search-holder {
		position: absolute;
		top: 14px;
		right: 12px;
		width: 340px;
		min-height: 40px;
		display:none;

		input[type="submit"] {
			display: none;			
		}

		.fake-submit {
			width: 24px;
			height: 24px;
			display: inline-block;
			float: left;
			fill: $true-white;
			margin-right: 8px;
			margin-top: 2px;
			cursor: pointer;
		}

		input[type="search"] {
			background: none;
			border: 0 none;
			width: 270px;
			margin-right: 16px;
			border-bottom: 1px solid $true-white;
			display: inline-block;
			float: left;
			color: $true-white;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $true-white;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $true-white;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $true-white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $true-white;
			}

			&:focus,
			&:active {
				outline: 0 none;
			}
		}
		.dismiss-search {
			cursor: pointer;

			svg {
				width: 14px;
				height: 14px;
				margin-top: 8px;
				fill: $true-white;
			}
		}
	}

	.user-logged {
		cursor: pointer;
	}

	.user-logged-container {
		position: absolute;
		z-index: 1000;
		width: 260px;
		background: $true-white;
		border: 1px solid $disabled-grey;
		top: 52px;
		right: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		padding: 8px;
		display: none;

		.arrow-up {
			width: 0; 
			height: 0; 
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $true-white;
			position: absolute;
		    top: -8px;
		    right: 20px;
		}

		.circle {
			float: left;
			margin: 0 8px 8px 8px;
			width: 32px;
		}

		.user-logged-details {
			float: left;
			width: 192px;
			margin: 4px 0 8px 0;
			h4 {
				width: 100%;
				float: left;
				font-size: $font-size-16;
				line-height: $line-height-16;
				font-weight: $font-medium;
			}
			.email {
				width: 100%;
				float: left;
				font-size: $font-size-10;
				line-height: $line-height-10;
				font-weight: $font-light;
			}
		}

		.call-to-action {
			float: left;
			width: 100%;
			font-size: $font-size-12;
			font-weight: $font-light;

			.settings-link,
			.signout-link {
				color: $deep-blue;
				float: left;
				margin: 8px;
			}

			.signout-link {
				float: right;
			}
		}
		
	}


	.side-nav-bar {
		position: relative;
		width: 160px;
		background: $true-blue;
		min-height: 500px;

		background-image: linear-gradient(to right, $medium-blue 43px, $true-blue 42px);

		.collapse-trigger {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 22px;
			background: #021A35;

			svg {
				position: absolute;
				top: 6px;
				fill: $true-white;
				width: 14px;
				height: 10px;
				margin-left: 3px;
			}
		}

		.legal-entity {
			background: $medium-blue;
			color: $true-white;
			padding: 33px 0 17px 12px;
				.legal-entity-name {
					color: $true-white;
					font-size: $font-size-14;
					line-height: $line-height-16;
					font-weight: $font-medium;
				}
				.legal-entity-id {
					color: $true-white;
					font-size: $font-size-10;
				}
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;

			li {
				
				float: left;
				width: 100%;

				a {
					display: inline-block;
					color: $true-white;
					//border-bottom: 1px solid $true-blue;

					float: left;
					width: 100%;

					line-height: $line-height-32;

					.icon {
						width: 42px;
						height: 48px;
						display: inline-block;
						float: left;
					}

					.icon-sidemenu {
						position: absolute;
						margin-top: 12px;
						margin-left: 10px;
						opacity: 0.8;
						fill: $true-white;
						transition: all 0.2s;
					}

					.as-label {
						display: inline-block;
						padding-left: 10px;
						float: left;
						width: calc(100% - 44px);
						color: $true-white;
						font-size: $font-size-14;
						line-height: $line-height-48;
						text-decoration: none;
						opacity: 0.8;
						transition: all 0.2s;
					}

				}

				&:hover {
					
					.icon-sidemenu {
						opacity: 1;
					}

					.as-label {
						opacity: 1;
					}
				}

				.active {
					
					background-image: linear-gradient(to right, $deep-blue 43px, $medium-blue 42px);

					.icon-sidemenu {
						opacity: 1;
					}

					.as-label {
						font-weight: $font-medium;
						opacity: 1;
					}
				}	
			}

			.side-subnav {
				float: left;
				margin-left: 43px;

				li {
					display: inline-block;
					float: left;
					border-bottom: 1px solid #214e80; 

					a {
						display: inline-block;
						font-size: $font-size-12;
						line-height: $line-height-14;
						background: #10447E;
						padding: 8px 10px 8px 10px;
						text-decoration: none;
						transition: all 0.2s;

						&:hover {
							// no hover state described in the styleguide
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.cmx-stepper {
		overflow: hidden;
	    position: relative;

	    .cmx-progress {
	    	position: absolute;
    		top: 24px;
    		left: 0;
    		width: 68%;
    		height: 1px;
    		background: $bright-blue;
    		margin-left: 16%;
	    }

	    .cmx-step {
	    	position: relative;
    		float: left;
    		width: 33.333333%;
    		padding: 0 5px;
    		text-align: center;

    		p {
    			font-size: $font-size-14;
    			font-weight: $font-regular;
    			line-height: $line-height-14;
    		}

    		&.completed {
    			.cmx-step-icon {
    				background: $bright-green;
    			}
    		}

    		&.active {
    			.cmx-step-icon {
    				background: $bright-blue;
    			}

    			p {
    				font-weight: $font-medium;
    			}
    		}

    		&.inactive {
    			.cmx-step-icon {
    				background: $disabled-grey;
    			}
    		}
	    }

	    .cmx-step-icon {
	    	display: inline-block;
		    width: 40px;
		    height: 40px;
		    margin-top: 4px;
		    margin-bottom: 8px;
		    background: #ddd;
		    font-size: 16px;
		    color: #fff;
		    line-height: 40px;
		    border-radius: 50%;
		    font-weight: $font-medium;
		    font-size: $font-size-26;

		    svg {
		    	margin-top: 8px;
		    	fill: $true-white;
		    }
	    }

	    &.cmx-stepper-2 {
			// some width(s) definitions need to change
	    	.cmx-progress {
				width: 50%;
				margin-left: 25%;
	    	}

			.cmx-step {
				width: 50%;
			}
	    }

	    &.cmx-stepper-4 {
	    	// some width(s) definitions need to change
	    	.cmx-progress {
				width: 76%;
				margin-left: 12%;
	    	}

			.cmx-step {
				width: 25%;
			}
	    }

	    &.cmx-stepper-5 {
	    	// some width(s) definitions need to change

			.cmx-progress {
				width: 82%;
				margin-left: 9%;
			}

			.cmx-step {
				width: 20%;
			}
	    }
	}


// END NAVIGATION DEMO PAGE


// START FORMS DEMO PAGE

	.form-group {

		label {
			display: inline-block;
			font-size: $font-size-12;
			line-height: $line-height-12;
			color: $deep-blue;
			padding-bottom: 6px;
			margin-bottom: 0px;
			cursor: pointer;
		} // end label

		.form-control {
			display: block;
			width: 100%;
		} // end form-control

		&.active {
			input[type="text"],
			input[type="email"],
			input[type="number"],
			select,
			textarea {
				border: 1px solid $bright-blue;
				background: $true-white;
			}

			//number field treatment
			.number-field-wrapper {
				.number-field-btn {
					&.minus-btn {
						border-right: 1px solid #ADAEBB;
						svg {
							fill: $bright-blue;
						}
					}
					&.plus-btn {
						border-left: 1px solid #ADAEBB;
						svg {
							fill: $bright-blue;
						}
					}
				}
			} // end number-field-wrapper	
		} // end active class

		&.error {
			input[type="text"],
			input[type="email"],
			input[type="number"],
			select,
			textarea {
				border:1px solid $true-red;
				background: rgba(238, 61, 66, 0.05);

				&:active,
				&:focus,
				&.active,
				&.focus {
					outline: 0 none;
					border-color: $bright-blue;
					background: $true-white;
				}
			}
			.error-message {
				font-size: $font-size-12;
				color: $true-red;
				width: 100%;
				display: inline-block;
				text-align: right;
			}

			//number field treatment
			.number-field-wrapper {
				.number-field-btn {
					&.minus-btn {
						border-right: 1px solid $true-red;
						svg {
							fill: $true-red;
						}
					}
					&.plus-btn {
						border-left: 1px solid $true-red;
						svg {
							fill: $true-red;
						}
					}
				}

				// a more complex hover interaction on the element
				// because has the buttons (+/-) contained as sub-elements
				&:hover {
					.minus-btn,
					.plus-btn {
						svg {
							fill: $bright-blue;
						}
					}
					.minus-btn {
						border-right: 1px solid #ADAEBB;
					}
					.plus-btn {
						border-left: 1px solid #ADAEBB;
					}
				} // end complex hover interaction
			} // end number-field-wrapper	
		} // end error class

		input[type="text"],
		input[type="email"],
		input[type="number"],
		select,
		textarea {
			font-size: $font-size-16;
			line-height: $line-height-16;
			border-radius: $radius-3;
			height: 48px;
			padding: 16px;
			border: 1px solid #ADAEBB;
			background: $true-white;

			&:hover, 
			&:active,
			&:focus,
			&.hover,
			&.active,
			&.focus {
				outline: 0 none;
				border-color: $bright-blue;
				background: $true-white;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}
		} // end input(s) basic definition

		// select
		select {
			font-size: $font-size-16;
			line-height: $line-height-16;
			border-radius: $radius-3;
			height: 48px;
			border: 1px solid #ADAEBB;
			background: $true-white;
			cursor: pointer;
			text-indent: 7px;

			&:hover,
			&:focus,
			&:active,
			&.hover,
			&.focus,
			&.active {
				outline: 0 none;
				border-color: $bright-blue;
				background: $true-white;
			}
		} // end select separate definition

		// textarea 
		textarea {
			min-height: 104px;
			font-size: $font-size-16;
			line-height: $line-height-18;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}
		}

		// number type
		input[type="number"] {
			text-align: center;
		}

		// hiding the number type spinner
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.number-field-wrapper {
			position: relative;

			// button rules
			button {
				cursor: pointer;
				background: none;
				border: 0 none;
				width: 46px;
				height: 46px;
				line-height: 46px;

				&:focus,
				&:active {
					outline: 0 none;
				}
			} // end buttons rules

			.number-field-btn {
				display: inline-block;
				width: 46px;
				height: 46px;
				line-height: 46px;

				// positioning the minus button
				&.minus-btn {
					position: absolute;
					bottom: 1px;
					left: 1px;
					border-right:1px solid #ADAEBB;

					svg {
						width: 16px;
						margin-top: 10px;
						fill: $bright-blue;
					}

					&:hover,
					&:focus,
					&:active {
						border-right: 1px solid $bright-blue;
					}
				} // end minus-btn

				// positioning the plus button
				&.plus-btn {
					position: absolute;
					bottom: 1px;
					right: 1px;
					border-left: 1px solid #ADAEBB;

					svg {
						width: 16px;
						margin-top: 9px;
						fill: $bright-blue;
					}

					&:hover,
					&:focus,
					&:active {
						border-left: 1px solid $bright-blue;
					}
				} // end plus-btn
			} // end number field btn
		} // end number field wrapper
	} // end form group

	// select dropdown
	.select-dropdown {
		width: auto;
		border-top: 3px solid $bright-blue;
		background: $true-white;
		border-radius: $radius-3;
		box-shadow: 0 8px 13px rgba(0,0,0,0.3);
		height: 266px;
		overflow-y: scroll;

		.select-dropdown-item {
			padding: 15px;

			&:hover {
				background: $background-grey;
			}
		}
	}

// END FORMS DEMO PAGE


// START ALERTS DEMO PAGE

	.alert-bar {
		width: 100%;
		min-height: 32px;
		color: $true-white;
		font-size: $font-size-14;
		font-weight: $font-bold;
		line-height: $line-height-14;
		float: left;

		a {
			font-size: $font-size-14;
			font-weight: $font-bold;
			color: $true-white;
			line-height: $line-height-14;
			text-decoration: underline;
		}

		p {
			padding: 8px 16px;
			float: left;
			line-height: $line-height-14;
			width: calc(100% - 46px);
		}
		.close {
			float: right;
			padding: 8px 16px;
			cursor: pointer;
			svg {
				width: 14px;
				height: 14px;
				fill: $true-white;	
			}
		}

		&.cmx-red {
			background: $true-red;
		}

		&.cmx-orange {
			background: $bright-orange;
		}

		&.cmx-blue {
			background: $bright-blue;
		}

		&.cmx-green {
			background: $bright-green;
		}
	}

// END ALERTS DEMO PAGE


// START MAPS DEMO PAGE

	#map {
		height: 202px;
	}

	code {
	   display: block;
	   white-space: pre;
	}

	// demo of map with overlay ribbon
	.google-wrapper {
    	position: relative;
	}

	#map2 {
	    min-height : 202px;
	}

	#map3 {
	    min-height : 202px;
	}

	#google-map-overlay {
	    width  : 100%;
	    height : 32px;
	    background: rgba(0,0,0,0.7);
	    position: absolute; 
	    bottom: 0px; 
	    left: 0px; 
	    z-index: 99;

		.overlay-content {
			padding:10px;
			float: left;
		}

		.dot-legend {
			width: 12px;
			height: 12px;
			background: $bright-blue;
			display: inline-block;
			border-radius: 50%;
			margin-right: 8px;
			float: left;
		}

	    p {
	    	font-size: $font-size-10;
	    	line-height: $line-height-14;
	    	color: $true-white;
	    	float: left;
	    }
	}

	#google-map-overlay-side {
		width: 20%;
		height: 100%;
		background: rgba(0,0,0,0.7);
	    position: absolute; 
	    bottom: 0px; 
	    left: 0px; 
	    z-index: 99;

	    .overlay-content {
	    	padding: 24px 16px;
	    }

	    .map-input-group {
	    	margin-bottom: 24px;
	    	
	    	label {
	    		display: inline-block;
	    		width: 100%;
	    		color: #B8B8B8;
	    		font-size: $font-size-12;
	    		line-height: $line-height-12;
	    	}

	    	input[type="text"] {
				background: none;
				color: #B8B8B8;
				width: 100%;
				border: 0 none;
				border-bottom: 1px solid #B8B8B8;
				font-size: $font-size-18;
				line-height: $line-height-20;
				font-weight: $font-light;
				padding-bottom: 6px;
	    	}
	    }
	} 

// END MAPS DEMO PAGE

// START MODALS PAGE
	.modal-container {
		max-width: 784px;
		padding: 24px;
		margin: 0 auto;
		background: $true-white;

		.modal-close svg {
			float: right;
			width: 20px;
			height: 20px;
		}
		
		.modal-interactive {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-header {
				clear: both;
			}

			.modal-body {
				clear: both;

				p {
					font-size: 		$font-size-12;
					font-weight: 	$font-bold;
				}
			}
		}

		.modal-confirmation {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-body {
				clear: both;
				text-align: center;

				svg {
					width: 120px;
					height: 120px;
				}
			}
		}

		.modal-informational {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-header {
				clear: both;
			}

			.modal-scrolling-content {
				position: relative;
				height: 424px;
				overflow-y: scroll;
				padding-right: 30px;

				
			}

			.white-fade {
				content: '';
				position: relative;
				margin-top: -70px;
				width: 100%;
				height: 80px;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
			}

			.modal-scrolling-content::-webkit-scrollbar {
				width: 8px;
				background-color: none;
			}

			.modal-scrolling-content::-webkit-scrollbar-track {
				
				background-color: none;
				border-radius: 8px;
			}

			.modal-scrolling-content::-webkit-scrollbar-thumb {
			    border-radius: 8px;
			    background: $disabled-grey;
			}
			
			.modal-scrolling-content::-webkit-scrollbar-thumb:hover {
			    border-radius: 8px;
			    background: $table-highlight-grey;
			    transition: all 0.4s;
			}
		}
	}


// END MODALS PAGE


