// Colors


// Primary

$true-white: 				#FFF;
$true-black: 				#000;
$true-blue: 				#003876;
$medium-blue: 				#002A59;
$medium-grey: 				#666;
$dark-grey: 				#333;
$background-grey: 			#F4F6F9;


// Highlight and status

$table-highlight-grey: 		#E8EBEF;
$disabled-grey: 			#D6D6D6;
$true-red: 					#EE3D42;
$bright-orange: 			#FBB03B;
$bright-green: 				#7AC943;
$bright-blue: 				#3FA9F5;
$deep-blue: 				#001B3A; 


// Hovers and active
$active-blue: 				#2684C7;
$active-green:		 		#66B330;
